* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

.container {
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.all {
    background: linear-gradient(90deg, rgb(12, 222, 204)0%, rgb(40, 52, 51) 53%, rgb(48, 129, 145) 100%);
    width: 310px;
    padding: 10px;
    border-radius: 20px;
}

.name {
    margin-bottom: 15px;
}

.all h1,
h2 {
    text-align: center;

}

.content {
    padding-block: 10px;
}

.search {
    width: 90%;
    margin: auto;

    position: relative;
}

.search input {
    width: 100%;
    padding-block: 5px;
    padding-left: 15px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 7px;
    color: black;
}

.search i {
    position: absolute;
    top: 8px;
    right: 7px;
    color: black;
    cursor: pointer;

}

.data .img_div {
    text-align: center;
    margin-block: 7px;
}

.data img {
    width: 100px;
}

#tem {
    margin-block: 10px;
}

#name {
    margin-block: 10px;
}

.part1,
.part2,
.part3,
.part4 {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    margin-block: 8px;
}

.part2,
.part3,
.part4 {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    margin-block: 15px;
}

.div1_head,
.div2_head {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
}

.div1 img {
    width: 40px;
}

.div2 img {
    width: 40px;
}

.humidity {
    font-size: 1.8rem;
}

.wind_speed {
    font-size: 1.8rem;

}